@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Merriweather:300,400,600,700,900&display=swap");

:root {
  --space-1: 10px;
  --space-2: 15px;
  --space-3: 20px;
  --space-4: 25px;
  --space-5: 35px;
  --space-6: 40px;
  --space-7: 45px;
  --space-8: 80px;
  --clr-primary: rgb(244, 0, 118);
  --clr-white: #fff;
  --clr-black: #000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Merriweather, serif;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
label {
  margin: 0;
  color: var(--clr-black);
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: min(100% - 2rem, 1100px);
  margin-inline: auto;
}

svg {
  color: var(--clr-primary);
}

a {
  display: inline-block;
  color: var(--clr-black);
  text-decoration: 0;
}

button {
  display: inline-block;
  border: 0;
}

h1,
h2,
h3,
h4 {
  color: var(--clr-primary);
}
