.cards {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(var(--auto-grid-min-size, 17rem), 1fr)
  );
  grid-gap: var(--space-2);
}

.card {
  display: flex;
  flex-direction: column;
  padding: var(--space-2);
}

.card > * + * {
  margin-top: var(--space-2);
}
